<%- include("header"); -%>
    <h1>Find</h1>
    <form class="" action="/find" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        
      </div>
      <button class="btn btn-primary" type="submit" name="button">Find</button>
    </form>

<%- include("footer"); -%>